#main {
  left: 255px;
}

#sidebar {
  width: 255px;
}

#footer {
  width: 255px;
}

@media (max-width: 768px) {
	.tooltipped-no-touch:hover::before,
	.tooltipped-no-touch:hover::after {
		visibility: hidden;
		opacity: 0;
	}

	.container {
		margin-top: 60px !important;
	}

	#sidebar button,
	#sidebar .chan,
	#sidebar .sign-out,
	#sidebar .empty,
	#windows label,
	#windows .header .topic,
	#settings .error,
	#help .help-item,
	#loading,
	#context-menu,
	#form #input,
	.textcomplete-menu,
	.messages .msg {
		font-size: 15px;
	}

	#viewport {
		height: 100%;
		transition: transform 160ms, -webkit-transform 160ms;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
	}

	#viewport.menu-open {
		-webkit-transform: translate3d(255px, 0, 0);
		transform: translate3d(255px, 0, 0);
	}

	#viewport.menu-dragging {
		transition: none !important;
	}

	#viewport.menu-open .messages {
		pointer-events: none;
	}

	#sidebar,
	#footer {
		left: -255px;
	}

	#sidebar .empty::before {
		margin-top: 0;
	}

	#main {
		left: 0;
	}

	#chat .chat {
		right: 0;
	}

	#viewport .lt,
	#viewport .channel .rt {
		display: block;
	}

	#windows .window .header {
		display: block;
	}

	#chat .channel .chat {
		right: 0;
	}

	#chat .sidebar {
		right: -180px;
	}

	#viewport.rt #chat .sidebar {
		right: 0;
	}

	#chat .title::before {
		display: none;
	}
}

#chat.colored-nicks .user.color-19 {
  color: #00ff1d;
  font-weight: bold;
  font-size: 15px;
}

#chat .self {
    color: #000;


}

#chat .error,
#chat .error .from,
#chat .channel .highlight,
#chat .channel .highlight .from,
#chat .channel .highlight .text {
  color: #00dcff;
  font-weight: bold;
  font-size: 15px;
}
